/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
HTML {
    font-size: 62.5%;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======= Jim code start ======= */

.container {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.container-two {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.header {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}


h1 {
    color: rgb(48, 132, 228);
    font-size: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
}


 nav a{
    width: 15%;
    font-size: 1.5rem;
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgb(82, 116, 209);
}


nav a:hover{
    background: white;
    color: rgb(82, 116, 209);
    border-style: solid;
    border-color: rgb(82, 116, 209);
    border-width: 1px;
}


.main-section {
    display: flex;
    width: 85%;
    height: auto;
    margin: 0px;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}
 

.main-image {
    display: flex;
    width: 50%;

}

#main-image {
    width: 100%;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
}


.main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


h2 {
    color:rgb(0, 0, 0);
    font-size: 25px;
}


#journey-text {
    width: 100%;
    font-size: 2rem;
    margin: 5px 5px 5px 5px;
    color: green;
}


.section-two {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}

.section-three {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}

 .hobby{
     display: flex;
     width: 25%;
     margin: 30px;
     flex-direction: column;
 }
img.hobby-image {
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 15px;

}

.footer{
    display: flex;
    width: 100%;
    margin: 10%;
    justify-content: center;
  
}

.footer nav a {
    width: 100%;
    border: 2px solid green;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    background: rgb(82, 116, 209);
}


/* ================================================
================= break point for tablets ======= */

@media (max-width: 768px){
    h1 {
        font-size: 3.5rem;
    }
    
    #main-image {
        width: 20rem;
        padding: 10px;
        margin: 10px 10px 10px 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
    #journey-text {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }
    img.hobby-image {
        width: 100%;

    }
}






/* ================================================
================= break point for mobile ======= */

@media (max-width: 375px){
    #main-image {
        width: 33%;
        padding: 5px;
        margin: 10px 10px 10px 10px;
    }
